body {
    background-color: grey;
    margin: 0px;
    padding: 0px;
}
.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
}
.card img {
    height: 200px;
    object-fit: cover;
}
.btn-tambah-berita {
    margin-bottom: 20px;
}
.card-title {
    font-size: 15px;
    font-weight: bold;
}

h2{
    text-shadow: 2px 2px 5px black ;
}

.btn{
    left: 15px;
}

<<<<<<<< HEAD:css-1/kabar_berita.css
.container {
    background-color: white;
========
.a{
    width: 50%;
    display: flex;
    left: 10px;
    top: 10px;
}

.btn-detail {
    font-size: 12px;
>>>>>>>> a83d560fd9074e9b33b65531e836f20f1a18985b:kabar_berita.css
}



