.about-us-section {
  padding: 20px;
}

.card-about {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(211, 243, 232);
  height: 190px;
}

.card-img1-top {
  width: 100%; /* Sesuaikan gambar dengan lebar card */
  height: 250px; /* Tinggi tetap */
  object-fit: cover; /* Memotong gambar agar sesuai tanpa distorsi */
}

.card-title1 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.btn-success {
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
}

.containert {
  height: 450px;
}