body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-img-top {
  border-radius: 20px;
  width: 100%; /* Membuat gambar lebih responsif */
  margin: 20px;
}

.btn-success {
  border: none;
  border-radius: 50px;
  width: 100px;
}

.content1 {
  max-width: 100%;
}

td {
  font-size: 15px;
  background-color: white;
  border: 1px solid black;
  width: 100px;
  height: 40px;
}

.card-title {
  margin-top: 20px;
}
