/* Pastikan gambar dan teks dalam card sejajar dan tidak memanjang */
.container .card {
    display: flex;
    align-items: center;
    width: 900px;
}

.container .card img {
    max-width: 100%;
    height: auto;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin-left: 15px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.text-muted {
    font-size: 14px;
}
