body {
  background-color: white;
}

.container {
  margin-top: 20px;
}

.card {
  max-width: 100%;
}

.card-body {
  text-align: center;
}

.btn {
  position: absolute;
  margin: 15px;
  margin-top: 10px;
  margin-left: 10px;
}

