body {
    background-color: white;
}

.container {
    margin-top: 20px;
}

.card {
    max-width: 100%;
    margin-top: 20px;
}

.card-body {
    text-align: center;
}

.btn-back {
    position: absolute;
    top: 20px;
    left: 20px;
}
