body {
  background-color: white;
}

.d-flex {
  min-height: 100vh;
}

.card {
  max-width: 100%;
}

.card-body {
  text-align: center;
}

.btn-back {
  position: absolute;
  top: 20px;
  left: 20px;
}
