.bodyh {
    margin-top: 100px;
}

.containerh {
    display: flex;
    justify-content: space-between; /* Menyebar item secara horizontal */
    align-items: center; /* Menjaga item sejajar secara vertikal */
    padding: 40px 80px; /* Tambahkan padding di sekitar kontainer */
    background-color: rgb(255, 255, 255);
    width: 86.5%;
}

.containerh .logo {
    max-height: 170px; /* Atur tinggi maksimum logo */
}

.imgh {
    width: 400px;
    height: 400px;
}

.containerh .navbar-nav {
    display: flex; /* Pastikan navbar-nav juga fleksibel */
}

.navbar-nav .nav-item {
    margin-left: 15px; /* Jarak antar item navbar */
}

.cardh {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
}