.navbar {
    background-color: white;
    width: 100%; /* Mengisi lebar layar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan pada navbar */
}

.container {
    display: flex;
    justify-content: space-between; /* Menyebar item secara horizontal */
    align-items: center; /* Menjaga item sejajar secara vertikal */
    padding: 10px 20px; /* Tambahkan padding di sekitar kontainer */
}

.container .logo {
    max-height: 200px; /* Atur tinggi maksimum logo */
}

.container .navbar-nav {
    display: flex; /* Pastikan navbar-nav juga fleksibel */
}

.navbar-nav .nav-item {
    margin-left: 15px; /* Jarak antar item navbar */
}
